*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    color:hsl(178, 45%, 46%);
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'karla';
}

.header1{
    margin-bottom: 10px;
    font-size: 20px;
    color:hsl(69, 53%, 65%);
    font-family: 'karla';
}
.para{
    color:hsl(202, 5%, 72%);
    font-family: 'karla';
    font-size: 15px;
    line-height: 20px;
}

.header2{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'karla';
}
.span1{
    color: white;
    font-family: 'karla','bold 500';
    font-size: 25px;
}
.span2{
    color: rgb(241, 234, 234);
    font-family: 'karla';
}
.para1{
    color: white;
    font-family: 'karla';
    font-size: 10px;
}
.submit{
    color: white;
    background-color: hsl(71, 72%, 53%);
    border-radius: 5px;
    text-align:center;
    font-size: 15px;
    border: 1px solid hsl(71, 72%, 53%) ;
    width: 280px;
    padding: 8px;
    font-family: 'karla';
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.header3{
    font-family: 'karla','bold 400';
    font-size: 20px;
    color: white;
    margin-bottom: 4px;
}
p{
    font-family: 'karla';
    font-size: 15px;
    color: white;
    line-height: 20px;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    flex: 100%;
    height: 35vh;
    padding: 30px;
}
.box2{
    flex: 100%;
    background-color: hsl(179, 61%, 43%);
    height: 30vh;
    padding: 30px;
}
.box3{
    flex: 100%;
    background-color:hsl(179, 47%, 51%);
    height: 35vh;
    padding: 30px;
}